
*.cgi~

*.tcl~

*.mp3

*.mp4
*.mkv

*~

web2rss/tclhttpd3.5.1/htdocs/podcasts/asakawaz/*.html
web2rss/tclhttpd3.5.1/htdocs/podcasts/podcast/*.html

.DS_Store

web2rss/orig.html

web2rss/out.html
web2rss/ytsources.tcl
web2rss/youtube-dl
web2rss/www
web2rss/config.tcl
